/* google _fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* utilities */
body{
    font-family: 'Anton', sans-serif;
    font-size: 38px;
    font-weight: bolder;
}

/* others */
.container{
    display: flex;
    justify-content: center;
}
.box{
    border: 2px solid gray;
    width: 40px;
    height: 0px;
    overflow-y: hidden;
    transition: height 2s linear .5s;
}
.box p{
    text-align: center;
}
.box:hover{
    height: 700px;
}